*~
*.swp
*.swo
*.out
*.err
*.bak
.DS_Store
*.log
*.jarr
!build/phase0/pyret.jarr

build/phaseA
build/phaseB
build/phaseB-ts
build/phaseC
build/phaseB-ts
build/phaseC-ts
build/bundled-node-deps.js
node_modules/
*#
.#*
tests/pyret/*.arr.js
tests/pyret/*.jarr
tests/pyret/tests/*.arr.js
tests/type-check/*/*.arr.js
tests/pyret/regression/*.arr.js

tests/pyret/standalone/importer-require.js
tests/pyret/standalone/importer.jarr

*.arr.js

compiled/

.pyret-parley.*.pid
.pyret-parley.*.lock

build/ts-compiler
tests/ts-compiled/
compiled-ts/
